body {
    background-image: linear-gradient(to right, rgb(247, 178, 249) , rgb(239, 161, 249));
    color: #495057;
    
}

.container {
    background-image: linear-gradient(to right, rgb(90, 3, 106) , rgb(92, 2, 78));

    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 20px;
}

h1 {
    color: #f4f6f8;
}

.card {
    border: 1px solid #1168c0;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
}

.card:hover {
    transform: scale(1.05);
    background-image: linear-gradient(to right, rgb(241, 185, 251) , rgb(244, 147, 224));
    z-index: 1;
    
}

.card-title {
    font-size: 1.2em;
    color: #007bff;
    margin-bottom: 10px;
}

.card-text {
    font-size: 0.9em;
    margin-bottom: 5px;
}
